.logo-image{
    width: 150px;
    margin-left: 50px;    
}
.d-flex{
    margin: 5px 5px;
}
.right{
    margin-left: 25px;
}
.btn-danger{
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    margin-right: 50px;
}
.btn-outline-success{
    border: none;
    color: black;
    font-weight: 700;
}